[submodule "documentation"]
	path = documentation
	url = https://github.com/devosoft/avida.wiki.git
[submodule "libs/apto"]
	path = libs/apto
	url = https://github.com/devosoft/apto
	branch = master
[submodule "libs/empirical"]
      path = libs/empirical
      url = https://github.com/mercere99/Empirical 
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/ruppmatt/json
[submodule "libs/av_ui"]
	path = libs/av_ui
	url = https://github.com/dblackwood/av_ui

[submodule "libs/pouchdbfs"]
	path = libs/pouchdbfs
	url = https://github.com/ruppmatt/pouchdbfs
[submodule "libs/lz-string"]
	path = libs/lz-string
	url = https://github.com/ruppmatt/lz-string
