/build/*
/cbuild/*
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
.DS_Store
wbuild
DerivedData
.project
*.swp
!/cbuild/
!/cbuild/bin
!/cbuild/bin/avida.js
!/cbuild/bin/avida.js.mem
.tags

