nop-A      1 1 0 100   # a
nop-B      1 1 0 100   # b
nop-C      1 1 0 100   # c
if-n-equ   1 1 0 100   # d
if-less    1 1 0 100   # e
pop        1 1 0 100   # f
push       1 1 0 100   # g
swap-stk   1 1 0 100   # h
swap       1 1 0 100   # i 
shift-r    1 1 0 100   # j
shift-l    1 1 0 100   # k
inc        1 1 0 100   # l
dec        1 1 0 100   # m
add        1 1 0 100   # n
sub        1 1 0 100   # o
nand       1 1 0 100   # p
IO         1 1 0 100   # q   Puts current contents of register and gets new.
h-alloc    1 1 0 100   # r   Allocate as much memory as organism can use.
h-divide   1 1 0 100   # s   Cuts off everything between the read and write heads
h-copy     1 1 0 100   # t   Combine h-read and h-write
h-search   1 1 0 100   # u   Search for matching template, set flow head & return info
               #   #   if no template, move flow-head here, set size&offset=0.
mov-head   1 1 0 100   # v   Move ?IP? head to flow control.
jmp-head   1 1 0 100   # w   Move ?IP? head by fixed amount in CX.  Set old pos in CX.
get-head   1 1 0 100   # x   Get position of specified head in CX.
if-label   1 1 0 100   # y
set-flow   1 1 0 100   # z   Move flow-head to address in ?CX? 

sense-m100 1 1 0 100

if-equ-0   1 1 0 100

time       1 1 0 100

sleep1	   1 10 0 1
sleep2	   1 20 0 1
sleep3	   1 40 0 1
sleep4	   1 80 0 1

