VERSION_ID 2.11.0   # Do not change this value.

#include instset.cfg                     # Instruction set file ('-' = use default for hardware type)

RANDOM_SEED 10
WORLD_GEOMETRY 1 
COPY_MUT_PROB 0 
DIVIDE_MUT_PROB 0.25 
BIRTH_METHOD 4 
ALLOW_PARENT 0 
DEATH_METHOD 1 
AGE_LIMIT 18000
RESET_INPUTS_ON_DIVIDE 1 (default=0)
REQUIRED_BONUS 2
BASE_MERIT_METHOD 0 
BASE_CONST_MERIT 100
ABSORB_RESOURCE_FRACTION 1
MULTI_ABSORB_TYPE 1
RETURN_STORED_ON_DEATH 0
SPLIT_ON_DIVIDE 0
USE_AVATARS 2 
AVATAR_BIRTH 2
LOOK_DIST 50
PRED_PREY_SWITCH 0