# Flow control operations
if-n-equ   1
if-less    1
if-bit-1   1
jump-f     1
jump-b     1
call       1
return     1

# Single Argument Math
shift-r    1
shift-l    1
inc        1
dec        1
pop-A      1
pop-B      1
pop-C      1
push-A     1
push-B     1
push-C     1
swap-stk   1
swap       1

# Double Argument Math
add        1
sub        1
nand       1

# Biological Operations
copy       1
allocate   1
divide     1

# I/O and Sensory
get        1
put        1
