i InjectGroup prey-chase-food.org 2510 0 0
i InjectGroup prey-chase-den.org 7575 0 3

i Inject pred-rotate-org0.org 2710 
i Inject pred-rotate-org_id1.org 7565 

u 0:100:1000 DumpMaxResGrid
u 0:100:1000 DumpTargetGrid

u 100:100:end PrintInstructionData

# EXIT CONDITIONS
u 1000 exit                        									