##############################################################################
#
# This is the setup file for the task/resource system.  From here, you can
# setup the available resources (including their inflow and outflow rates) as
# well as the reactions that the organisms can trigger by performing tasks.
#
# This file is currently setup to reward 9 tasks, all of which use the
# "infinite" resource, which is undepletable.
#
# For information on how to use this file, see:  doc/environment.html
# For other sample environments, see:  source/support/config/ 
#
##############################################################################

RESOURCE res1:inflow=100:outflow=.01
RESOURCE res2:inflow=100:outflow=.01

REACTION MATCH1   matchprodstr:string=0000,partial=0,binary=1,pow=2.0,tag=0 process:resource=res1:type=pow:value=3.0:frac=.005:max=10:min=.025  requisite:divide_only=1

REACTION MATCH4   matchprodstr:string=1111,partial=0,binary=1,pow=2.0,tag=1 process:resource=res2:type=pow:value=3.0:frac=.005:max=10:min=.025  requisite:divide_only=1

REACTION ps perfect_strings process:value=1.0:type=add  requisite:max_count=1:divide_only=1



