<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CorePlot-CocoaTouch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Documentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Universal Library.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0760D0F311BD272D00A3C4BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0799D97A137318CF0026072C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC9B83460FB8A0A40035D8DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3566B8010EED04900FB3866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
