#############################################################################
# This file is used to setup avida when it is in analysis-only mode (by
# running "avida -a".  It allows variety of methods to load organisms
# (specifying the type of each) and analyze them once loaded.
#
# See the documentation in doc/analyze_mode.html for usage, or the file
# doc/analyze_samples.html for guidelines on writing programs.
#
#############################################################################

VERBOSE

LOAD detail-200000.pop
RECALCULATE 1
DETAIL executed.dat inst.26 task.0 task.1 task.2 task.3 task.4 task.5 task.6 task.7 task.8 sequence num_cpus length merit exe_length gest_time fitness r_spec.0 r_spec.1 r_spec.2 r_spec.3 r_spec.4 r_spec.5 r_spec.6 r_spec.7 r_spec.8 r_spec.9 r_spec.10 r_spec.11 r_spec.12
PURGE_BATCH
