##############################################################################
#
# This is the setup file for the events system.  From here, you can
# configure any actions that you want to have happen during the course of
# an experiment, including setting the times for data collection.
#
# basic syntax: [trigger] [start:interval:stop] [action/event] [arguments...]
#
# This file is currently setup to record key information every 100 updates.
#
# For information on how to use this file, see:  doc/events.html
# For other sample event configurations, see:  support/config/
#
##############################################################################

u 0 InjectAll START_CREATURE
u 80 ZeroMuts

# Print all of the standard data files...
# Print all of the standard data files...
u 0:10:end PrintAverageData       # Save info about they average genotypes
u 0:10:end PrintDominantData      # Save info about most abundant genotypes
u 0:10:end PrintStatsData         # Collect satistics about entire pop.
u 0:10:end PrintCountData         # Count organisms, genotypes, species, etc.
u 0:10:end PrintTasksData         # Save organisms counts for each task.
u 0:10:end PrintTimeData          # Track time conversion (generations, etc.)
u 0:10:end PrintResourceData      # Track resource abundance.
u 0:10:end PrintDominantGenotype      # Save the most abundant genotypes
u 0:10:end PrintTasksExeData    # Num. times tasks have been executed.
u 0:10:end PrintTasksQualData   # Task quality information

# Setup the exit time and full population data collection.
u 100:100 SavePopulation         # Save current state of population.
u 100:100 SaveHistoricPopulation # Save ancestors of current population.
u 100 exit                        # exit

