##############################################################################
#
# This environment is set up to allow a switch from per-deme resource pools
# to one resource pool shared by all demes.
# 
# The demes each have the normal 100 inflow, 0.01 outflow setup.  The global
# resources start empty, with no inflow or outflow.  The switch from deme
# to global resources is accomplished by the MergeResourcesAcrossDemes action
# in an events file.
#
##############################################################################

# Listed deme first, then global
RESOURCE  resNOT:initial=0.0	
RESOURCE	resNAND:initial=0.0
RESOURCE  resAND:initial=0.0	
RESOURCE	resORN:initial=0.0
RESOURCE  resOR:initial=0.0		
RESOURCE	resANDN:initial=0.0
RESOURCE  resNOR:initial=0.0	
RESOURCE	resXOR:initial=0.0
RESOURCE  resEQU:initial=0.0

# Deme resources
RESOURCE  dResNOT:inflow=10:outflow=0.1:deme=true
RESOURCE	dResNAND:inflow=10:outflow=0.1:deme=true
RESOURCE  dResAND:inflow=10:outflow=0.1:deme=true
RESOURCE	dResORN:inflow=10:outflow=0.1:deme=true
RESOURCE  dResOR:inflow=10:outflow=0.1:deme=true
RESOURCE	dResANDN:inflow=10:outflow=0.1:deme=true
RESOURCE  dResNOR:inflow=10:outflow=0.1:deme=true
RESOURCE	dResXOR:inflow=10:outflow=0.1:deme=true
RESOURCE  dResEQU:inflow=10:outflow=0.1:deme=true